In [4]:
import numpy as np
import pandas as pd
import requests

In [120]:
from datetime import datetime, timedelta

begging_of_the_year = datetime.now().replace(month=1, day=1).strftime('%Y-%m-%d')

yesterday = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')
begging_of_the_year, yesterday

('2023-01-01', '2023-02-19')

In [121]:
hltv_players = f'https://www.hltv.org/stats/players?startDate={begging_of_the_year}&endDate={yesterday}'
hltv_players

'https://www.hltv.org/stats/players?startDate=2023-01-01&endDate=2023-02-19'

In [122]:
response = requests.get(hltv_players)

data_link = f'../data/players.html'

with open(data_link, 'w') as f:
    f.write(response.text)

players = pd.concat(pd.read_html(data_link)).rename(columns={'Rating2.0': 'Rating'})
players

        Player  Teams  Maps  Rounds  K-D Diff   K/D  Rating
0        felps    NaN    34     868       144  1.25    1.28
1     XANTARES    NaN    48    1362       221  1.25    1.28
2        Nertz    NaN    32     838       136  1.25    1.27
3         Kvem    NaN    35     923       160  1.26    1.26
4        Norwi    NaN    42    1121       201  1.28    1.26
..         ...    ...   ...     ...       ...   ...     ...
234      snapy    NaN    30     823      -151  0.75    0.87
235  MiGHTYMAX    NaN    32     838      -116  0.79    0.86
236        TaZ    NaN    69    1865      -323  0.75    0.85
237      simix    NaN    32     849      -133  0.78    0.85
238       aris    NaN    30     781      -138  0.76    0.84

[239 rows x 7 columns]

Well, no teams... Let's try another approach.

In [123]:
from bs4 import BeautifulSoup

with open(data_link) as f:
    soup = BeautifulSoup(f.read())

rows = soup.find('table').find_all(class_='teamCol')

players['Teams'] = [row['data-sort'] for row in rows if row.has_attr('data-sort')]
players

        Player         Teams  Maps  Rounds  K-D Diff   K/D  Rating
0        felps         Fluxo    34     868       144  1.25    1.28
1     XANTARES  Eternal Fire    48    1362       221  1.25    1.28
2        Nertz      Endpoint    32     838       136  1.25    1.27
3         Kvem          IKLA    35     923       160  1.26    1.26
4        Norwi        Aurora    42    1121       201  1.28    1.26
..         ...           ...   ...     ...       ...   ...     ...
234      snapy           GTZ    30     823      -151  0.75    0.87
235  MiGHTYMAX      Endpoint    32     838      -116  0.79    0.86
236        TaZ       HONORIS    69    1865      -323  0.75    0.85
237      simix     EC Brugge    32     849      -133  0.78    0.85
238       aris        Strife    30     781      -138  0.76    0.84

[239 rows x 7 columns]

Much better! Let's group by Teams now

In [124]:
players.groupby('Teams').sum('Rating').sort_values('Rating', ascending=False)

                 Maps  Rounds  K-D Diff   K/D  Rating
Teams
MIBR              220    5695       679  6.05    5.85
Fluxo             170    4340       470  5.92    5.71
9INE              295    8010       571  5.59    5.60
Paquetá           160    4355       307  5.58    5.58
Aurora            210    5605       339  5.49    5.56
Young Ninjas      165    4379       252  5.49    5.55
iNation           260    6895       414  5.50    5.52
Monte             258    7088       327  5.38    5.50
IKLA              172    4532       278  5.52    5.48
GODSENT           169    4752       209  5.36    5.44
Endpoint          159    4166       194  5.40    5.44
SAW               160    4160       115  5.23    5.41
Illuminar         209    5906       270  5.35    5.41
Falcons           247    7167       189  5.29    5.37
Into the Breach   215    5904       146  5.21    5.37
Eternal Fire      244    6890       202  5.24    5.37
HEET              160    4400       125  5.29    5.36
MOUZ NXT          225    6020       246  5.36    5.36
forZe             219    5832       223  5.31    5.35
Sangal            236    6752       149  5.21    5.33
O PLANO           175    4655        93  5.18    5.29
Partizan          185    5140        71  5.15    5.27
EYEBALLERS        310    8192        72  5.07    5.26
SINNERS           195    5185       115  5.18    5.25
Eruption          160    4115        36  5.08    5.24
PROSPECTS         199    5512        52  5.08    5.24
Nexus             326    8805        70  5.10    5.23
Corinthians       150    4055        -4  5.00    5.21
Flamengo          165    4370        30  5.07    5.19
ATK               184    4924       -50  4.94    5.17
ALTERNATE aTTaX   200    5580       -78  4.92    5.16
Complexity        210    5490       -49  4.96    5.16
Anonymo           180    5175        -1  5.00    5.13
ECSTATIC          275    7205      -207  4.79    5.09
500               200    5360      -140  4.84    5.05
INTZ              160    3970       -91  4.86    5.02
Strife            157    4113      -139  4.75    5.02
UNGENTIUM         180    4585      -168  4.75    5.01
HONORIS           343    9268      -388  4.72    4.97
Tricked           284    7845      -269  4.81    4.97
GTZ               150    4115      -290  4.52    4.84
JANO              200    5460      -326  4.60    4.83
Vendetta          142    3795       170  4.31    4.33
Nouns             159    4260        30  4.04    4.22
MASONIC           178    4732       110  4.15    4.22
BIG               120    3128        -8  4.01    4.19
Mixfits           120    3256       -18  4.00    4.14
Viperio           132    3628       -84  3.87    4.01
EC Brugge         128    3396      -233  3.63    3.87
Juggernauts        30     789         0  1.00    1.10

Interesting. Who plays in Tricked team?

In [125]:
players[players['Teams'] == 'Natus Vincere']

Empty DataFrame
Columns: [Player, Teams, Maps, Rounds, K-D Diff, K/D, Rating]
Index: []