In [4]:
import numpy as np
import pandas as pd
import requests

In [2]:
from datetime import datetime, timedelta

begging_of_the_year = datetime.now().replace(month=1, day=1).strftime('%Y-%m-%d')

yesterday = (datetime.now() - timedelta(days=1)).strftime('%Y-%m-%d')
begging_of_the_year, yesterday

('2023-01-01', '2023-02-19')

In [5]:
hltv_teams = f"https://www.hltv.org/stats/teams?startDate={begging_of_the_year}&endDate={yesterday}"

response = requests.get(hltv_teams)

data_link = f'../data/teams.html'

with open(data_link, 'w') as f:
    f.write(response.text)

teams = pd.concat(pd.read_html(data_link)).rename(columns={'Rating2.0': 'Rating'})
teams

             Team  Maps  K-D Diff   K/D  Rating2.0
0            MIBR    44       679  1.20       1.17
1           Fluxo    34       470  1.18       1.14
2          Heroic    28       228  1.10       1.12
3            9INE    59       571  1.11       1.12
4         Paquetá    32       307  1.11       1.12
..            ...   ...       ...   ...        ...
70         Sprout    28      -244  0.90       0.97
71           JANO    40      -326  0.91       0.97
72       BLUEJAYS    28      -177  0.93       0.96
73   Boca Juniors    24      -219  0.89       0.96
74  Evil Geniuses    23      -261  0.88       0.94

[75 rows x 5 columns]